.box {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  animation: moveUp 0.5s forwards ease-out; /* forwards keeps the final state of animation */
}

@keyframes moveUp {
  from {
    bottom: 0;
  }
  to {
    bottom: 180px; /* Adjust this value to move the element higher */
  }
}
.box2 {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  animation: moveUp2 0.5s forwards ease-out;
}

@keyframes moveUp2 {
  from {
    bottom: 0;
  }
  to {
    bottom: 50%;
  }
}
